.pokemons-table {
  width: 300px;
  font-size: 10px;
  border-collapse: collapse;
  border: 1px solid #bebebe;
}

.pokemons-table th, td {
  padding-left: 10px;
}

.pokemons-table tbody tr {
  border-bottom: 1px solid #bebebe;
  height: 20px;
  cursor: pointer;
}

.pokemons-table tr th {
  background-color: gray;
}

.pokemons-table-name-column {
  width: 10%;
}

.pokemons-table tbody tr:hover {
  opacity: 0.7;
  cursor: pointer;
}